/* _custom.scss */
.google-form-container {
    width: 100%;
    max-width: 640px;
    margin: 0;
    position: relative;
    padding-bottom: 125%; /* Calculated based on your iframe's aspect ratio */ // 65.94
    height: 0;
    overflow: hidden;
}

.google-form-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .google-form-container {
      padding-bottom: 160%; /* Adjust for smaller screens - experiment! */
    }
  }