/* _custom.scss */
.google-form-container {
    width: 100%;
    position: relative;
    padding-bottom: 65.94%; /* Calculated based on your iframe's aspect ratio */
    height: 0;
    overflow: hidden;
}

.google-form-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}